name: Build and Push Docker Images to Azure Container Registry

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: azure/docker-login@v2
        with:
          login-server: deployboxcrdev.azurecr.io
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}

      - name: Build and push backend image
        run: |
          docker build -t deployboxcrdev.azurecr.io/backend:latest ./backend
          docker push deployboxcrdev.azurecr.io/backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t deployboxcrdev.azurecr.io/frontend:latest ./frontend
          docker push deployboxcrdev.azurecr.io/frontend:latest
